.linksHome {
    text-align: center;
    margin-top: 50px;
}

.linkContainer {
    width: 600px;
    border-bottom: solid 1px grey;
    padding: 10px 0;
    text-align: left;
    font-size: 1.2rem;
    margin: 10px auto;
    color: grey;

    .linkText {
        text-decoration: none;
        color: inherit;
    }
    .actionButton {
        cursor: pointer;
        float: right;
        margin-right: 20px;
        width: 20px;
        height: 20px;
    }
}

.loginButton {
    position: fixed;
    right: 50px;
    top: 50px;
    font-size: 1.3rem;
    font-weight: 300;
    background-color: black;
    color: white;
    outline: none;
    border: solid 1px white;
    border-radius: 2px;
    padding: 5px 10px;
}

.loginInfo {
    margin: 100px 20%;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.7;
    p {
        text-align: left;
    }
    a {
        color: skyblue;
        text-decoration: none;
    }
}

.imgurForm {
    margin: 20px 30px;
    input {
        color: white;
        background-color: inherit;
        border: 0;
        outline: none;
        border-bottom: solid 1px grey;
        padding-bottom: 10px;
        margin-right: 20px;
        width: 300px;
    }
    button {
        color: white;
        background-color: black;
        padding: 5px 10px;
        border: 1px solid white;
    }
}

//Mobile Styles
@media (max-width: 480px) {
    .imgurForm {
        margin-top: 150px;
        width: 90%;
        input {
            width: 60%;
        }
    }
    .linkContainer {
        width: 90%;
    }
}