.toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 50;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-top: solid 1px white;
    box-sizing: border-box;
    >div {
        cursor: pointer;
    }
}