@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,400|Quicksand:300,400&display=swap');

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
}

.previewContainer {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 70px);
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  .imagePreviewContainer {
    height: 100%;
    width: 260px;
    position: relative;
    cursor: pointer;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
    &:hover .previewBackground {
      opacity: 0.6;
    }
    &:hover .descriptionContainer {
      opacity: 1;
      width: 100%;
    }
    .previewBackground {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 300px;
      background-color: black;
      opacity: 0;
    }
    .descriptionContainer {
      z-index: 5;
      position: absolute;
      bottom: 0;
      height: 300px;
      padding: 50px 20px;
      box-sizing: border-box;
      color: white;
      text-align: left;
      opacity: 0;
      .itemTitle {
        font-family: 'Alegreya Sans', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        color: #BBBBBB;
        font-weight: 400;
        letter-spacing: 22px;
      }
      .itemDate {
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
        position: absolute;
        bottom: 15px;
        color: #BBBBBB;
      }
    }
    .imagePreview {
      height: 100%;
      max-width: 260px;
      object-fit: cover;
      margin-right: 10px;
    }
  }
}

//Mobile Styles
@media (max-width: 480px) {
  .imagePreviewContainer {
    .imagePreview {
      max-width: 70vw !important;
    }
  }
}
