.App {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.previewContainer {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 50px);
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  
  .imagePreviewContainer {
    height: 100%;
    width: 250px;
    cursor: pointer;
    .imagePreview {
      height: 100%;
      max-width: 250px;
      object-fit: cover;
      margin-right: 10px;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
    }
  }
}


